body {
	margin: 0px;
}

header {
	background-image: url('./Graphics/stars_skybox.png');
	height: 100vh;
}

#awards img {
	width: 124px;
	margin-top: 20px;
	margin-left: 20px;
}

#navigation {
	position: absolute;
	top: 20px;
	right: 20px;
}

#navigation a {
	font-family: "Roboto", sans-serif;

	color: rgb(200, 200, 200);
	text-decoration: none;
	padding-right: 10px;
	font-size: 1.3em;
}

#navigation a:hover {
	color: rgb(255, 255, 255);
}

#upstairs_logo {
	position: absolute;
	bottom: 0px;
	margin-left: 10px;
}

#upstairs_logo img {
	width: 180px;
}

#container {
	display: flex;
    flex-direction: column;
    align-items: center;
}

#social {
	position: absolute;
	display: flex;
	bottom: 30px;
	right: 20px;
	height: 5%;
}

#social a {
	height: 100%;
	width: 100%;
	margin-top: 10%;
	margin-left: 5px;
	transition: 0.2s;
}

#social a:hover {
	margin-top: 5%;
	transition: 0.3s;
}

#social img {
	height: 100%;
}

.small-text {
	color: white;
	font-family: Roboto, sans-serif;
}

h1, p {
	font-family: "Roboto", sans-serif;
}

#content {
	padding: 2% 20% 2% 20%;
}

.section {
	padding-bottom: 50px;
}

#mc_embed_signup {
	background:#fff;
	clear:left;
	font: 14px Helvetica, Arial, sans-serif; 
	width:100%;
}